[submodule "Tools/ccsds-tc"]
	path = Tools/ccsds-tc
	url = https://github.com/BatchDrake/ccsds-tc
[submodule "Tools/SigDigger"]
	path = Tools/SigDigger
	url = https://github.com/BatchDrake/SigDigger
[submodule "PHY/tools/SigDigger"]
	path = PHY/tools/SigDigger
	url = git@github.com:BatchDrake/SigDigger.git
[submodule "PHY/tools/AmateurDSN"]
	path = PHY/tools/AmateurDSN
	url = https://github.com/BatchDrake/AmateurDSN
[submodule "TM/tools/ccsds-tc"]
	path = TM/tools/ccsds-tc
	url = git@github.com:BatchDrake/ccsds-tc.git
[submodule "TM/tools/lfsrcrack"]
	path = TM/tools/lfsrcrack
	url = git@github.com:BatchDrake/lfsrcrack.git
